<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="konekcija" connectionString="Data Source=ElenaVlatko-PC\SQLEXPRESS;
         Initial Catalog=FilmoviBP;Integrated Security=True"/>
  </connectionStrings>
    <system.web>
      <authentication mode="Windows"/>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
